*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: #000000;
    font-family: 'Roboto', sans-serif;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 5rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}
nav > *{
    flex: 1;
}
.logo, .github, .search-container{
    display: flex;
}
.logo a{
    font-weight: 700;
    color: white;
    font-size: 2rem;
    text-decoration: none;
}
nav .search-container {
    border-radius: 125px;
    padding: 0.5rem 0;
    border: #303030 solid 1px;
}
.search-container img{
    margin: 0px 10px;
}
.search{
    width: 92%;
    background: transparent;
    border: 0px;
    outline: 0px;
    color: #6C6C6C;
}
.github{
    justify-content: end;
}
.github img{
    width: 45px;
    height: 45px;
}
.resource-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
    gap: 1rem;
}
.card{
    padding: 1rem;
    background-color: #000000;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1rem;
    width: 25rem;
    border: #3F3F3F solid 1px;
}
.title{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 25rem;
    font-weight: 700;
    font-size: 1.25rem;
}
.yt-container{
    position: relative;
    overflow: hidden;
    aspect-ratio: 16 / 9;
    width: 100%;
}
iframe{
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;
}
.tag-container{
    display: flex;
    gap: 1rem;
    list-style: none;
    flex-wrap: wrap;
    justify-content: center;
} 
.tag{
    background-color: #272727;
    padding: 0.5rem;
}
.hidden{
    display: none;
}